*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bento-grid{
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1.25fr 1fr;
  overflow: hidden;
  padding: 10px;
  gap: 20px;
}
img{
  width:50%
}
.item1{
  background-color: hwb(272 8% 41% / 0.9568627450980393)
}